In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data
Data = pd.read_csv('Resources/lending_data.csv')
Data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

In [3]:
# Split the data into X_train, X_test, y_train, y_test



X = Data[['loan_size','interest_rate','borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks', 'total_debt']]
y = Data['loan_status']


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

print(X.shape, y.shape)

(77536, 7) (77536,)

In [4]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
classy = LogisticRegression()
classy

LogisticRegression()

In [5]:

classy.fit(X_train, y_train)

LogisticRegression()

In [6]:
#Print Results
print(f"Training Data Score: {classy.score(X_train, y_train)}")
print(f"Testing Data Score: {classy.score(X_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

In [7]:
#Print Results
print(f'Actual:\t\t{list(y_test[:70])}')
print(f'Predicted:\t{list(classy.predict(X_test[:70]))}')

Actual:		[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Predicted:	[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
# Train a Random Forest Classifier model and print the model score
from sklearn.preprocessing import StandardScaler
StandardScaler = StandardScaler().fit(X_train)
X_train1 = StandardScaler.transform(X_train)
X_test1 = StandardScaler.transform(X_test)

In [11]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train1, y_train)
print(f'Training Score: {clf.score(X_train1, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9975409272252029

C:\Users\zaner\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

Testing Score: 0.9680664465538589

In [12]:
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(clf)
sel.fit(X_train1, y_train)
sel.get_support()

array([False,  True,  True,  True, False, False,  True])

In [ ]:
#Conclusion
#looking into the data we are able to see that there is a diffrence between the two datasets . with this information 
# we can conclude that it would be better to use the Logistic Regression since it provided a better result and more accurate
#only being off by a 0.0003. the random forest shows to be less accurate by being off .03.
#This Shows that we should use the "liner" model to provide the best results.